.round-btn {
  padding: 0.5rem 2rem;
  border: 1px solid white;
  border-radius: 99px;
  font-family: 'mont';
  font-size: 1rem;
  text-transform: uppercase;
  &.danger {
    background-color: #9f2c3c;
    &:hover {
      background-color:rgb(114, 26, 38);
    }
  }
  &.primary {
    background-color: #5e9ab1;
    &:hover {
      background-color: rgb(30, 84, 106);
    }
  }
  &.transparent {
    background-color: transparent;
  }
  &:hover {
    transform: scale(1.1);
  }
  &:disabled {
    background-color: #767676;
    opacity: 1;
    &:hover {
      background-color: #767676;
      transform: scale(1);
    }
  }
}